 body{
                text-align: center;
                font-family: "Lora", serif;
                background: linear-gradient(to right, rgb(165, 233, 233), rgb(98, 122, 122))
            }

            h3 {
                text-shadow: 4px 2px lightblue;
            }

            div {
                border: 1px solid cornflowerblue;
                margin: 15px;
                padding: 10px 25px 12px;
                background-color: darkcyan;
                border-radius: 15px 10px 20px;
                box-shadow: 10px 8px darkslategrey;
            }

            #user {
                width: 10%;
                float: left;
                border-radius: 10%;
            }
